{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base_nao_logado.css'%}">
    <title>{% block titulo %}Homepage{% endblock %}</title>
</head>
<body>
    {% block navbar %}
    <nav>
        <ul>
            <li class=""><img src="{% static 'images/logo.svg' %}" class="logo"></li>
            <li><a href="#home">Acervo Digital Samara</a></li>
            <li style="float:right"><a  href="#"><img src="{% static 'images/profile.svg' %}" class=""></a></li>
        </ul>
    </nav>
    {% endblock %}
    <h1>teste de nao logado </h1>

    {% block conteudo %}
    {% endblock %}
</body>
</html>